/* Styling for Elements*/
body{
    margin: auto;
    width: 100%;
    border-radius: 0.65em;
}

form{
    margin: 1em;
    padding: 0.5em;
}

label{
    padding: 0.5em;
}

h3, input, select, option{
    text-align: center;
}


/* Styling for Classes */
.wide{
    padding: 1em;
}

.split{
    /* border: 0.2em solid darkslategrey; */
    border-radius: 0.65em;
    padding: 1em;
    margin: 0.5em;
}

.row{
    margin: 0.5em;
    padding: 0.5em;
}

/* Styling for IDs */
#green-text{
    color: green;
}

#red-text{
    color: red;
}